 .button{
    padding: 1.3rem;
    width: 13rem;
    @include flex();
    background-color: #B08EAD;
    border:1px solid #B08EAD;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.5s ease;
    &:hover{
        background-color: white;
        color: #B08EAD;
    }

    > p {
        font-size: 17px;
        line-height: 20px;
        text-align: center;
        font-weight: 400;
      

    }
}
 .button-hover{
    padding: 1.3rem;
    width: 13rem;
    @include flex();
    background-color: #fff;
    border:1px solid #B08EAD;
    border-radius: 5px;
    color: #B08EAD;
    cursor: pointer;
    transition: background-color 0.5s ease;
    &:hover{
        background-color: #B08EAD;
        color: #fff;
    }

    > p {
        font-size: 17px;
        line-height: 20px;
        text-align: center;
        font-weight: 400;
      

    }
}